<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewData["Title"] - VertoTest</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </head>
    <body>
        <!-- Define a header to be used on all pages -->
        <header class="">
            <div>
                <div>
                    Header
                </div>
            </div>
            
        </header>
        
        <!--Render the main content from the views ect. -->
        <div> 
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>

        <!-- Define a footer to be used on all pages -->
        <footer class="outline">
            <div class="outline">This is the footer</div>
        </footer>
    </body>
</html>